---
layout: archive
title: "Talks & Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Talks / Seminar</h2><hr />
{% for post in site.talks reversed %}
  {% unless post.type == "Conference presentation" %}
    {% include archive-single-talk.html %}
  {% endunless %}
{% endfor %}

<h2>Conference</h2><hr />
{% for post in site.talks reversed %}
  {% if post.type == "Conference presentation" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
